# Node.js
node_modules/

# Logs
logs/
*.log

# Dependency directories
pids/
.lock-wscript

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Production build
/build

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.env